@import '../../utils/utils.less';

.wrapper{
    .banner{
        width: 84%;
        margin: 0 auto;
        .carouselCtn{
            height: 300px;
            width: 100%;
        }
    }
}  
